.app-navigation-primary {
  @include transition-all();
  position: relative;

  &.open {
    transform: translateX(-300px);
    .mobile-toggle {
      transform: translateX(300px);
    }
  }

  &.closed {
    transform: translateX(0);
    .mobile-toggle {
      transform: translateX(0);
    }
  }

  // button
  .mobile-toggle {
    display: none;
    background-color: #000;
    border: none;
    font-size: 1rem;
    padding: $base-value;
    &:hover {
      background-color: $grey7;
    }
  }

  .navigation-list {
    @extend .tabs;
    position: relative;
    margin: 0;
    border-bottom: none;

    ul {
      @include transition-all();
      text-align: right;

      li {
        a {
          padding: $base-value $base-value;
          color: $neutral-color;
          border-bottom: 1px solid transparent;
        }

        a:hover {
          background-color: rgba(255, 255, 255, 0.25);
          text-decoration: none;
        }

        &.active {
          a {
            color: $primary-color-light;
            border-color: $primary-color;
            background-color: transparent;
          }
        }

        &:not(:last-child):after {
          @extend %element-tab;
          padding-left: $base-value-quarter;
          padding-right: $base-value-quarter;
          color: $neutral-color-dark;
          content: "|";
        }

        &.note {
          color: $neutral-color;
          padding: $base-value $base-value;

          i[class^="fa"] {
            margin-right: $base-value-half;
          }

          &::after {
            content: "";
          }
        }
      }
    }
  }

  @include mq("tablet-wide", max) {
    position: fixed;
    top: 0;
    right: 0;

    .mobile-toggle {
      display: block;
      position: relative;
      z-index: 1;
    }

    .navigation-list {
      position: absolute;
      top: 51px;
      left: 50px;
      width: 300px;
      background: linear-gradient(-20deg, $grey7, $grey8);
      height: calc(100vh - 51px);
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.05),
        4px 23px 40px -15px rgba(0, 0, 0, 0.15),
        8px 30px 64px rgba(0, 0, 0, 0.1);

      ul {
        width: 100%;
        li {
          display: block;
          text-align: left;

          &.note {
            font-size: 1rem;
          }

          a {
            width: 100%;
            font-size: 1rem;
          }
          &.active {
            a {
              border-bottom: none;
              border-left: 5px solid $primary-color;
            }
          }

          &:not(:last-child):after {
            display: none;
          }
        }
      }
    }
  }
}
